@charset "UTF-8";
/* --- Fontes personalizadas --- */
@font-face {
    font-family: 'Gameplay';
    src: url(fontes/Gameplay.ttf);
}

@media (max-width: 931px) {
    .hamburguer {
        display: block;               
        top: 1.5vh;                    
        right: 1em;                    
        z-index: 1000;                
        position: fixed;
        top: 1vh;
        right: 1em;
        z-index: 1000;
        
    }

    /** aparecer ao clicar */
    .nav-principal ul {
        display: none;
        flex-direction: column;      /* itens empilhados*/
        background-color: #1789FC;  
        position: absolute;          
        top: 100%;                   
        right: 1em;                  
        border-radius: 10px;         
        padding: 1em;                
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
        z-index: 999;                /* sobrepor elementos */
    }

    .nav-principal ul.show {
        display: flex; /*menu visivel qnd .show for ativada*/
    }

    .botao-nav {
        font-size: 2vh;
        white-space: nowrap; /* texto n quebra duas linhas */
    }
   
    h1#theader {
        font-size: 5.0vh;
    }
}
@media (max-width: 1118px) {
    h1#theader {
        font-size: 4.5vh;
    }
}
